.accordion .item .accordion-collapse{
  transition: all .4s ease
}

.accordion:last-child .item{
  border-top: 2px dashed #d3d3d3;
}


/* #accordion > div {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.5rem;
} */

/* #9A2540
#E08685
#fcdde2 */